<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phim Sẽ Gầy</title>
    <link rel="icon" href="./assets/images/fav-icon.png">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
            <div class="menu">
                <i class="statusMenu fa fa-bars"></i>
                <div class="menu-show">
                    <ul>
                        <li> <a>
                            Home 
                        </a> </li>
                        <li> <a>
                            genre
                        </a> </li>
                        <li> <a>
                            Tvshows
                        </a> </li>
                        <li> <a>
                            movies
                        </a> </li>
                        <li> <a>
                            contact
                        </a> </li>
                    </ul>
                </div>
            </div>
            <div class="logo">
                Phim sẽ gầy <span>.hd</span>
            </div>
            <div class="search-input">
                <form action="">
                    <input class="search" type="search" placeholder="search movie">
                    <span class="fa fa-search"></span>
                </form>
            </div>
    </header>
    <script src="./js/index.js"></script>
    <script type="module">
        import Swiper from 'https://unpkg.com/swiper@7/swiper-bundle.esm.browser.min.js'
      
        const swiper = new Swiper(...)
      </script>
</body>
</html>