@import url(./base.css);
body{
    background-color: rgb(10, 9, 9);
    height: 100vh;
    width: 100vw;

}
header{
    position: relative;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    height: 10rem;
    align-items: center;
    color: white;
}
.menu
{
    position: fixed;
    user-select: none;
    top: 0rem;
    left: 10rem;
    height: 8rem;
    display: flex;
    align-items: center;
    z-index: 1000;
    & i{
        font-size: 3rem;
        cursor: pointer;
        
        }
    .menu-show
    {
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0;
        left: -10rem;
        backdrop-filter: blur(1rem) ;
        z-index: -1;
        display: flex;
        align-items: center;
        display: none;
        ul
        {   user-select: none;
            width: 80%;
            display: flex;
            justify-content: space-between;
            margin: auto;
            list-style: none;
            a{
                text-decoration: none;
                font-size: 5rem;
                font-family: 'Monoton',sans-serif;
                cursor: pointer;
                text-transform: uppercase;
                
            }
            li:hover >a
                {
                    color: rgb(151, 14, 14);
                    font-size: 5.5rem;
                }
        }
        
    }

}
.menu-show.active
{
    display: flex;
    
}


.logo
{
    font-family: 'Monoton',sans-serif;
    display: flex;
    user-select: none;
    align-items: center;
    height: 100%;
    font-size: 5rem;
    color: rgb(151, 14, 14);
    text-transform: uppercase;
    span{
        font-size: 2.4rem;
        text-transform: uppercase;
        
    }
   

}
.search
{
    width: 30rem;
    height: 5rem;
    padding: 0 1rem;
    border-radius: 10rem;
    background-color: rgba(44, 42, 42, 0.342);
    
    &::placeholder
    {
        color: rgb(170, 170, 170);
        font-size: 1.7rem !important;
       
    }
    &:focus
    {
        color: white;
        font-size: 1.5rem;
    }

}
.search-input
{
    form{
        position: relative;
        span{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            font-size: 2rem;
            right:2rem;
        }
    }
}
.trendingFilm
{
    position: relative;
    width: 80%;
    margin: 6rem auto;
    top: 0;
    left: 0;
    z-index: 1;
   
    
}
.Film
{
    width: 55rem;
    height: 65rem;
    position: relative;
    display: flex;
    transition: height linear 0.5s;
    flex-direction: column-reverse;
    .quality{
        position: absolute;
        top: 5rem;
        left: 5rem;
        font-size:1.8rem;
        text-transform: uppercase;
        padding: .5rem .8rem;
        font-weight: 900;
        background-color: rgb(146, 9, 9);
    }
    .decription
    {
        position: absolute;
        bottom: 3rem;
        color: white;
        padding: 0 3rem;
        font-size: 2rem;
        .year,.name{
            text-align: left;
            padding: 1rem 0;
        }
        .actor-ratting{
            width: 40rem;
            display: flex;
            justify-content: space-between;
            padding: 2rem 0;
            .actor{
                color: rgb(139, 9, 9);
                font-size: 1.7rem;
                font-weight: 900;
            }
            .ratting
            {
               display: flex;
                align-items: flex-end;
                span{
                    display: block;
                    height: 3rem;
                    width: 5rem;
                    margin: 0 .5rem;
                    background: url(../assets/images/IMDb-icon.png);
                    background-size: 100% 100%;
                }
            
            }
        }
    }
}
.overlay
{
    height: 0%;
    width: 100%;
    position: absolute;
    z-index: 2;
    backdrop-filter: blur(.5rem);
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    overflow: hidden;

    i{
       font-size: 5rem;
       color: white;
    }
}
.Film:hover .overlay
{
    height: 100%;
}
.swiper {
    position: relative;
    top:0rem;
    width: 100%;
  }

  .swiper-slide {
    user-select: none;
    text-align: center;
    font-size: 18px;
   
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
 .arrow-btn
 {   user-select: none;
     position: absolute;
     width: 12rem;
     height: 5rem;
     bottom: -7rem;
     right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .swiper-button-next,
    .swiper-button-prev
    {
        color: white;
        font-weight: 900;
    }
 }