@import url(./base.css);
body {
  background-color: #0a0909;
  height: 100vh;
  width: 100vw;
}

header {
  position: relative;
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 10rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.menu {
  position: fixed;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  top: 0rem;
  left: 10rem;
  height: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
}

.menu i {
  font-size: 3rem;
  cursor: pointer;
}

.menu .menu-show {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: -10rem;
  -webkit-backdrop-filter: blur(1rem);
          backdrop-filter: blur(1rem);
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

.menu .menu-show ul {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
  list-style: none;
}

.menu .menu-show ul a {
  text-decoration: none;
  font-size: 5rem;
  font-family: 'Monoton',sans-serif;
  cursor: pointer;
  text-transform: uppercase;
}

.menu .menu-show ul a:hover {
  color: #970e0e;
}

.menu-show.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo {
  font-family: 'Monoton',sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  font-size: 5rem;
  color: #970e0e;
  text-transform: uppercase;
}

.logo span {
  font-size: 2.4rem;
  text-transform: uppercase;
}

.search {
  width: 30rem;
  height: 5rem;
  padding: 0 1rem;
  border-radius: 10rem;
  background-color: rgba(44, 42, 42, 0.342);
}

.search::-webkit-input-placeholder {
  color: #aaaaaa;
  font-size: 1.7rem !important;
}

.search:-ms-input-placeholder {
  color: #aaaaaa;
  font-size: 1.7rem !important;
}

.search::-ms-input-placeholder {
  color: #aaaaaa;
  font-size: 1.7rem !important;
}

.search::placeholder {
  color: #aaaaaa;
  font-size: 1.7rem !important;
}

.search:focus {
  color: white;
  font-size: 1.5rem;
}

.search-input form {
  position: relative;
}

.search-input form span {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 2rem;
  right: 2rem;
}
/*# sourceMappingURL=style.css.map */